h1 {
  color: var(--primary);
  font-family: var(--font-medium);
  margin: 0;
  padding-top: var(--padding-md);
}

p,
input,
.dates {
  font-family: var(--font-light);
}

p.listing {
  font-family: var(--font-bold);
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card-img-top {
  height: 25vh;
  object-fit: cover;
  border-radius: var(--radius) var(--radius) 0 0;
}

.book {
  margin-top: var(--margin-sm);
  width: 100%;
}

.avatar {
  border-radius: var(--radius);
  width: 120px;
  height: 120px;
  background: url('profil.png') no-repeat center center / cover;
  box-shadow: var(--shadow);
}

.id {
  color: var(--secondary);
}