<div class="container">
    <header class="row align-items-center">
        <div class="col text-start">
            <p>{{today}} {{month}} {{year}}</p>
            <h5>{{ 'PROFIL.TITLE' | translate }}</h5>
        </div>
        <div class="col text-end">
            <span class="notification" role="button" [title]="'COMMON.NOTIFICATIONS' | translate"
                  data-bs-toggle="modal" data-bs-target="#sessionToastsModal">
                <ng-container *ngIf="(toast.history$ | async) as history">
                    <span class="badge" *ngIf="history.length > 0">{{history.length}}</span>
                </ng-container>
            </span>
        </div>
    </header>
    <section>
        <h4><span class="upcomming"></span>{{ 'PROFIL.YOUR_BOOKINGS' | translate }}</h4>
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col" *ngFor="let booking of bookings">
                <div class="card">
                    <img [src]="getListingById(booking.listing)?.photo" class="card-img-top" alt="{{getListingById(booking.listing)?.name}}">
                    <div class="card-body">
                        <p class="listing">{{getListingById(booking.listing)?.name}}</p>
                        <p class="location">{{getListingById(booking.listing)?.location}}</p>
                        <p class="dates text-end">{{ 'COMMON.FROM' | translate }}: {{booking.arrival | date}}</p>
                        <p class="dates text-end">{{ 'COMMON.TO' | translate }}: {{booking.departure | date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="bookings.length === 0" class="text-center">
            <p>{{ 'PROFIL.NO_BOOKINGS' | translate }}</p>
        </div>
    </section>
</div>