<div class="back-button" routerLink="/" title="Back to landing">
  <span class="material-icons">arrow_back</span>
  <p>Return to landing</p>
</div>
<div class="app-logo">
  <img src="favicon.ico" alt="App logo">
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <h4>Login</h4>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email">
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
      <small class="text-danger" *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
      <small class="text-danger" *ngIf="form.get('email')?.errors?.['email']">Invalid email format.</small>
    </div>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
  <button type="submit" class="auth-button" [disabled]="form.invalid">
    <span class="material-icons">login</span>
    Connect
  </button>
</form>
<br>
<div>
  <a class="auth-link" routerLink="/auth/register">It's your first time here? Register now</a>
</div>