<div class="container">
    <header class="row align-items-center">
        <div class="col text-start">
            <p>{{today}} {{month}} {{year}}</p>
            <h5>Welcome, {{auth.current?.first_name || 'book your ideal workspace'}}.</h5>
        </div>
        <div class="col text-end">
            <span class="notification" role="button" title="Notifications" data-bs-toggle="modal"
                data-bs-target="#sessionToastsModal">
                <ng-container *ngIf="(toast.history$ | async) as history">
                    <span class="badge" *ngIf="history.length > 0">{{history.length}}</span>
                </ng-container>
            </span>
        </div>
    </header>

    <div class="input-group">
        <input type="text" class="form-control" [placeholder]="placeholder"
            aria-label="Text input with segmented dropdown button">
        <button type="button" class="btn btn-secondary" id="search">
            <span class="search">__</span>
        </button>
    </div>
    <section>
        <h4><span class="popular"></span>Most Popular</h4>
        <div class=" row text-start">
            <div class="col listing" *ngFor="let listing of listings | slice:0:4"
                style="background: linear-gradient(transparent, var(--text)), url({{listing.photo}}) fixed center center / cover no-repeat;"
                data-bs-toggle="modal" data-bs-target="#listing" (click)="selectListing(listing)">
                <p class="listing">
                    {{listing.name}}
                </p>
                <p class="listing" id="location">
                    {{listing.location}}
                </p>
                <p class="listing " id="price">{{listing.pricing}}€</p>
            </div>
        </div>
        
    </section>
    <div class="statistics text-center">
        <h3 class="statistics">More than {{listings.length}} workplaces throughout the city.</h3>
    </div>
    <section id="bookings">
        <h4><span class="upcomming"></span>Upcomming Booking</h4>
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col" *ngFor="let booking of bookings | slice:0:3">
                <div class="card">
                    <img [src]="getListingById(booking.listing)?.photo" class="card-img-top"
                        alt="{{getListingById(booking.listing)?.name}}">
                    <div class="card-body">
                        <h5 class="listing">{{getListingById(booking.listing)?.name}}</h5>
                        <p class="location">{{getListingById(booking.listing)?.location}}</p>
                        <p class="price text-end">From: {{booking.arrival | date}}</p>
                        <p class="price text-end">To: {{booking.departure | date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="bookings.length === 0" class="text-start">
            <p *ngIf="!auth.isLogged()">You need a account to book a workspace, <a routerLink="auth">login of
                    signup here</a></p>
            <p *ngIf="auth.isLogged()">You have no bookings yet.</p>
        </div>
    </section>
    <section id="more">
        <h4 id="more"><span class="living"></span>Discovers Them</h4>
        <div class=" row text-start">
            <div class="col listing" *ngFor="let listing of listings | slice:0:4"
                style="background: linear-gradient(transparent, var(--text)), url({{listing.photo}}) fixed center center / cover no-repeat;"
                data-bs-toggle="modal" data-bs-target="#listing" (click)="selectListing(listing)">
                <p class="listing">
                    {{listing.name}}
                </p>
                <p class="listing" id="location">
                    {{listing.location}}
                </p>
                <p class="listing " id="price">{{listing.pricing}}€</p>
            </div>
        </div>
        <div class=" row text-start">
            <div class="col listing" *ngFor="let listing of listings | slice:0:4"
                style="background: linear-gradient(transparent, var(--text)), url({{listing.photo}}) fixed center center / cover no-repeat;"
                data-bs-toggle="modal" data-bs-target="#listing" (click)="selectListing(listing)">
                <p class="listing">
                    {{listing.name}}
                </p>
                <p class="listing" id="location">
                    {{listing.location}}
                </p>
                <p class="listing " id="price">{{listing.pricing}}€</p>
            </div>
        </div>
    </section>
    <br>
</div>

<div class="modal fade" id="listing" tabindex="-1" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" *ngIf="selection">
            <div class="modal-body">
                <div class="row">
                    <div class="col listing" id="detail"
                        style="background: linear-gradient(transparent, var(--text)), url({{selection.photo}}) fixed center center / cover no-repeat;">
                        <p class="listing"><b>{{selection.name}}</b></p>
                        <p class="listing" id="location">{{selection.location}}</p>
                        <p class="listing" id="price">{{selection.pricing}}€/h</p>
                    </div>
                    <form>
                        <p class="listing" id="description">{{selection.description}}</p>
                        <hr>
                        <div class="row">
                            <div class="row">
                                <label for="arrival">Arrival</label>
                                <input type="datetime-local" class="form-control" id="arrival" name="arrival"
                                    [(ngModel)]="arrival" required>
                            </div>
                            <div class="row">
                                <label for="departure">Departure</label>
                                <input type="datetime-local" class="form-control" id="departure" name="departure"
                                    [(ngModel)]="departure" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col ps-0">
                            <button type="button" class="btn btn-secondary w-100"
                                data-bs-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col pe-0">
                            <button type="button" class="btn btn-primary w-100" (click)="book()"
                                data-bs-dismiss="modal">Book</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>