div.listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin: var(--margin-sm);
  height: 35vh;
}

div.listing:hover {
  filter: var(--brightness);
  cursor: pointer;
}

p.listing {
  color: var(--background);
  font-family: var(--font-bold);
  text-shadow: var(--shadow);
  font-size: var(--font-lg);
}

p.listing#location {
  font-size: var(--font-sm);
  font-family: var(--font-medium);
  color: var(--light);
}

p.listing#price {
  font-size: var(--font-sm);
  margin-bottom: 1rem;
  color: var(--light);
  font-family: var(--font-bold);
}

p.listing#description {
  font-size: var(--font-sm);
  color: var(--secondary);
  padding: 1%;
  text-shadow: none;
}

div.statistics {
  background: var(--primary-gradient);
  padding: var(--padding-lg);
  box-shadow: var(--shadow);
  text-align: center;
  animation: slide 0.5s 1s ease-in both;
}

h3.statistics {
  color: var(--background);
  font-family: var(--font-medium);
  animation: fade 3s ease-in-out infinite alternate;
  margin: 0;
}

.book {
  margin-top: var(--margin-sm);
  width: 100%;
}

p,
input {
  font-family: var(--font-light);
}

div.modal-body {
  padding: 0;
}

p.selection {
  margin: var(--margin-sm);
  color: var(--background);
}

input.selection {
  animation: none;
  background: var(--background);
}

#detail {
  border-radius: 0 0 var(--radius) var(--radius);
  margin: 0;
  height: 60vh;
}

#detail:hover {
  filter: none;
  cursor: default;
}

form {
  margin-top: var(--margin-md);
}

input#arrival,
input#departure,
label {
  animation: none;
  margin: var(--margin-md) 0 0 0;
}

input#arrival,
input#departure {
  background: #fff;
}

section#bookings {
  border-radius: 0%;
}

section#more {
  background: var(--primary-gradient);
  border-radius: 0 0 var(--radius) var(--radius);
}

h4#more {
  color: var(--background);
  font-family: var(--font-medium);
}