div.listing {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin: var(--margin-sm);
  height: 35vh;
}

div.listing:hover {
  filter: var(--brightness);
  cursor: pointer;
}

p.listing {
  color: var(--background);
  font-family: var(--font-bold);
  text-shadow: var(--shadow);
  font-size: var(--font-md);
}

p.listing#location,
p.listing#price {
  font-size: var(--font-sm);
  color: var(--light);
}

p.listing#location {
  font-family: var(--font-medium);
}

p.listing#price {
  margin-bottom: 1rem;
  font-family: var(--font-bold);
}

p.listing#description {
  color: var(--secondary);
  padding: 1%;
  text-shadow: none;
}

div.statistics {
  background: var(--primary-gradient);
  padding: var(--padding-lg);
  box-shadow: var(--shadow);
  text-align: center;
  animation: slide 0.5s 1s ease-in both;
}

h3.statistics {
  color: var(--background);
  font-family: var(--font-medium);
  animation: fade 3s ease-in-out infinite alternate;
  margin: 0;
}

.book {
  margin-top: var(--margin-sm);
  width: 100%;
}

p,
input {
  font-family: var(--font-light);
}

div.modal-body {
  padding: 0;
}

p.selection {
  margin: var(--margin-sm);
  color: var(--background);
}

input.selection {
  animation: none;
  background: var(--background);
}

#detail {
  border-radius: 0 0 var(--radius) var(--radius);
  margin: 0;
  height: 60vh;
}

#detail:hover {
  filter: none;
  cursor: default;
}

form {
  margin-top: var(--margin-md);
}

input#arrival,
input#departure {
  animation: none;
  margin: var(--margin-md) 0 0 0;
  background: #fff;
}

label {
  animation: none;
  margin: var(--margin-md) 0 0 0;
}

section#bookings {
  border-radius: 0%;
}

section#more {
  background: var(--primary-gradient);
  border-radius: 0 0 var(--radius) var(--radius);
}

h4#more {
  color: var(--background);
  font-family: var(--font-medium);
}

.input-group {
    position: relative;
    z-index: 100;
}

.suggestions {
    position: absolute;
    z-index: 100;
    animation: fade .5s ease-in-out;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.suggestions .card {
    background: var(--background);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.suggestions .list-group-item {
    cursor: pointer;
    background: transparent;
}

.suggestions .list-group-item:hover {
    background: var(--light);
    border-radius: var(--radius);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 99;
    animation: fade .5s ease-in-out;
}