.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }
}

.icon {
  width: 150px;
  height: 150px;
  box-shadow: var(--shadow);
  background: url('start.svg') no-repeat center;
  border-radius: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  animation: pulse 2s ease-in-out infinite;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  color: var(--background);
  text-shadow: var(--shadow);
  padding: var(--padding-sm);
  border-radius: 10px;
  font-family: var(--font-medium);
}

.loading-text {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  color: #fff;
  margin: 0;
  text-align: center;
  max-width: 90%;
  line-height: 1.4;
  text-shadow: var(--shadow);
  font-family: var(--font-medium);
}

.error-container {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.error-text {
  font-size: 1em;
  color: var(--background);
  padding: 10px;
  margin: 0 0 15px 0;
  text-align: center;
  max-width: 90%;
  line-height: 1.4;
  display: inline-block;
  text-shadow: var(--shadow);
  font-family: var(--font-medium);
}

a.retry {
  color: var(--background);
  text-decoration: underline;
  cursor: pointer;
}