input {
  margin: 0%;
  background: #fff;
  animation: none;
}

#button-addon2 {
  width: 75px;
}

.in,
.out {
  background: var(--primary-gradient-invert);
  color: var(--background);
  border-radius: var(--radius);
  margin-bottom: var(--margin-sm);
  padding: var(--padding-sm);
}

.out {
  background: var(--secondary-gradient-invert);
}

.row {
  margin: var(--margin-md);
}

header.row {
  margin: 0;
}

.modal-footer {
  padding: var(--padding-sm);
}

.input-group.mb-3 {
  margin: 0;
  padding: 0;
}
.conversation {
  box-shadow: var(--shadow);
  width: 100%;
  padding: var(--padding-md);
}
.listing {
  font-family: 'Karla-Bold';
}

.preview {
  font-family: 'Karla-Light';
}
