p,
input,
.dates {
  font-family: var(--font-light);
}

p.listing {
  font-family: var(--font-bold);
}

.card {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.card-img-top {
  height: 25vh;
  object-fit: cover;
  border-radius: var(--radius) var(--radius) 0 0;
}

.book {
  margin-top: var(--margin-sm);
  width: 100%;
}