<div class="container">
    <header class="row align-items-center">
        <div class="col text-start">
            <p>{{today}} {{month}} {{year}}</p>
            <h5>Cart</h5>
        </div>
        <div class="col text-end">
            <span class="notification"></span>
        </div>
    </header>
    <section>
        <h4><span class="upcomming"></span>Your Bookings</h4>
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col" *ngFor="let booking of bookings">
                <div class="card">
                    <img [src]="getListingById(booking.listing)?.photo" class="card-img-top" alt="{{getListingById(booking.listing)?.name}}">
                    <div class="card-body">
                        <h5 class="listing">{{getListingById(booking.listing)?.name}}</h5>
                        <p class="location">{{getListingById(booking.listing)?.location}}</p>
                        <p class="price">{{booking.pricing}}€/h</p>
                        <p class="dates">From: {{booking.arrival | date}}</p>
                        <p class="dates">To: {{booking.departure | date}}</p>
                        <div class="text-center">
                            <button class="btn btn-primary book">Cancel booking</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="bookings.length === 0" class="text-center">
            <p>You have no bookings yet.</p>
        </div>
    </section>
</div>