.session-toast-modal-backdrop.show {
    backdrop-filter: blur(20px);
}

.modal-body,
.modal-content {
  background: none;
  border: none;
}

.text-muted {
    filter: invert(1);
    font-family: var(--font-medium);
}