.container {
  font-family: 'Karla-Medium', Arial, sans-serif;
  padding: 2rem 2rem 4rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 150px;
  background-repeat: no-repeat;
  filter: grayscale(1);
}