.container,
h3,
p,
ul,
li {
  font-family: var(--font-medium), Arial, sans-serif;
}

.container {
  padding-top: 5rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: var(--primary);
}

p,
ul,
li {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-light), Arial, sans-serif;
}