<div class="profile-page-wrapper">
  <div class="back-button" routerLink="/" title="Back to landing">
    <span class="material-icons">arrow_back</span>
    <p>Return to landing</p>
  </div>
  <div class="app-logo">
    <img src="favicon.ico" alt="App logo">
  </div>
  <div class="profile-container">
    <h1>My Profile</h1>
    <div *ngIf="user">
      <img [src]="user.picture || defaultProfilePicture" alt="Profile picture" class="profile-picture">
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <div *ngIf="bookings.length > 0" class="bookings-container">
      <h2>My Bookings</h2>
      <ul>
        <li *ngFor="let booking of bookings">
          <p><strong>Workspace:</strong> {{ booking.listing }}</p>
          <p><strong>Date:</strong> {{ booking.date }}</p>
          <p><strong>Time:</strong> {{ booking.arrival }} - {{ booking.departure }}</p>
        </li>
      </ul>
    </div>

    <button (click)="logout()" class="disconnect-button">
      <span class="material-icons">logout</span>
      Logout
    </button>
  </div>
</div>
