@font-face {
  font-family: 'Karla-ExtraLight';
  src: url('./fonts/Karla-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-ExtraLightItalic';
  src: url('./fonts/Karla-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-Light';
  src: url('./fonts/Karla-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-LightItalic';
  src: url('./fonts/Karla-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('./fonts/Karla-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('./fonts/Karla-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-Medium';
  src: url('./fonts/Karla-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-MediumItalic';
  src: url('./fonts/Karla-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-SemiBold';
  src: url('./fonts/Karla-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-SemiBoldItalic';
  src: url('./fonts/Karla-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-Bold';
  src: url('./fonts/Karla-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('./fonts/Karla-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Karla-ExtraBold';
  src: url('./fonts/Karla-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-ExtraBoldItalic';
  src: url('./fonts/Karla-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes out {
  from {
    background-size: 175%;
  }

  10% {
    background-size: 150%;
  }

  to {
    background-size: 155%;
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    margin-top: var(--margin-lg);
  }
}

:root {
  --light: #a4a4a4;
  --gradient: linear-gradient(transparent, var(--text));
  --primary: #012340;
  --primary-gradient: linear-gradient(315deg, var(--primary), var(--light) 200%);
  --secondary: #808080;
  --secondary-gradient: linear-gradient(315deg, var(--secondary), var(--light) 200%);
  --text: #333;
  --background: #eef1f3;
  --background-gradient: linear-gradient(45deg, var(--background), var(--light) 200%);
  --background-image: url('https://images.pexels.com/photos/9574945/pexels-photo-9574945.jpeg');
  --shadow: 6px 4px 4px #0e0e0e2e;
  --brightness: brightness(1.2);
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 70px;
  --margin-sm: 1vh;
  --margin-md: 2vh;
  --margin-lg: 20vh;
  --radius: 20px;
  --font-bold: 'Karla-Bold';
  --font-light: 'Karla-Light';
  --font-medium: 'Karla-Medium';
}

body,
.modal-content {
  background: var(--background);
  scroll-behavior: smooth;
}

.modal-title {
  font-family: 'Karla-Bold';
  color: var(--primary);
}

.modal-body {
  font-family: 'Karla-Light';
}

h4 {
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-bold);
}

.btn {
  font-family: 'Karla-Light';
  border-radius: var(--radius);
  
}

.btn-primary,
.btn-secondary {
  border: none;
}

.btn-primary {
  width: 100%;
  background: var(--primary-gradient);
}

.btn-primary:hover,
.btn-secondary:hover {
  filter: brightness(1.1);
}

.btn-secondary {
  background: var(--secondary-gradient);
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(var(--primary), transparent 200px),
    linear-gradient(to bottom, transparent, var(--secondary)),
    var(--background-image) fixed center center / 155% no-repeat;
  animation: out 10s 1s ease-out backwards;
}

header {
  color: var(--background);
  padding: var(--padding-sm);
  animation: fade 1s ease-in;
  font-family: var(--font-light);
  text-shadow: var(--shadow);
}

p {
  margin: 0;
}

.notification {
  color: transparent;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--radius);
  cursor: pointer;
  background: url('./icons/notification.svg') no-repeat center, var(--secondary-gradient);
  box-shadow: var(--shadow);
  opacity: 0.9;
}

.notification:hover {
  filter: var(--brightness);
}

h5 {
  font-family: var(--font-bold);
}

section {
  margin: var(--margin-md) 0;
  padding: var(--padding-md);
  border-radius: var(--radius);
  background: var(--background-gradient);
  box-shadow: var(--shadow);
  animation: slide 0.5s 1s ease-in both;
}

.row {
  margin: 0;
}

.search {
  color: transparent;
  background: url('./icons/search.svg') no-repeat center;
}

.btn#search {
  border-radius: 0 20px 20px 0;
  box-shadow: var(--shadow);
  animation: fade 0.25s 1.5s ease-in both;
}

.popular,
.upcomming,
.living,
.cookie,
.home,
.account,
.settings,
.cart,
.detail {
  display: inline-block;
  width: 25px;
  height: 3vh;
  background-color: var(--primary);
  mask: url('./icons/popular.svg') no-repeat center;
  mask-size: contain;
}

.upcomming {
  mask: url('./icons/upcomming.svg') no-repeat center;
}

.living {
  mask: url('./icons/living.svg') no-repeat center;
}

.cookie {
  mask: url('./icons/cookie.svg') no-repeat center;
}

.home {
  mask: url('./icons/home.svg') no-repeat center;
}

.account {
  mask: url('./icons/account.svg') no-repeat center;
}

.settings {
  mask: url('./icons/settings.svg') no-repeat center;
}

.cart {
  mask: url('./icons/cart.svg') no-repeat center;
}

.detail {
  mask: url('./icons/detail.svg') no-repeat center;
}

input.form-control:focus {
  box-shadow: none;
  border: none;
  filter: var(--brightness);
}