<div class="container">
  <header class="row align-items-center">
    <div class="col text-start">
      <p>{{today}} {{month}} {{year}}</p>
      <h5>Settings</h5>
    </div>
    <div class="col text-end">
      <span class="notification" role="button" title="Notifications"
            data-bs-toggle="modal" data-bs-target="#sessionToastsModal">
        <ng-container *ngIf="(toast.history$ | async) as history">
          <span class="badge" *ngIf="history.length > 0">{{history.length}}</span>
        </ng-container>
      </span>
    </div>
  </header>
  <div class="input-group">
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button"
      [placeholder]="placeholder">
    <button type="button" class="btn btn-secondary" id="search">
      <span class="search">__</span>
    </button>
  </div>
  <section>
    <h4><span class="cookie"></span>Privacy Policy</h4>
    <div class="setting">
      <p>Understand how your personal data are used.</p>
      <br>
      <button class="btn btn-primary" (click)="openPolicy()">Read</button>
    </div>
  </section>
  <section>
    <h4><span class="account"></span>Account</h4>
    <div class="setting">
      <p>Manage your account</p>
      <br>
      <button class="btn btn-warning" (click)="openPolicy()">Disconnect</button>
    </div>
  </section>
</div>