<div class="container">
  <header class="row align-items-center">
    <div class="col text-start">
      <p>{{today}} {{month}} {{year}}</p>
      <h5>{{ 'SETTINGS.TITLE' | translate }}</h5>
    </div>
    <div class="col text-end">
      <span class="notification" role="button" [title]="'COMMON.NOTIFICATIONS' | translate" data-bs-toggle="modal"
        data-bs-target="#sessionToastsModal">
        <ng-container *ngIf="(toast.history$ | async) as history">
          <span class="badge" *ngIf="history.length > 0">{{history.length}}</span>
        </ng-container>
      </span>
    </div>
  </header>
  <div class="input-group">
    <input type="text" class="form-control" aria-label="Text input with segmented dropdown button"
      [placeholder]="placeholder" [(ngModel)]="query" (input)="onSearch()">
    <button type="button" class="btn btn-secondary" id="search">
      <span class="search">__</span>
    </button>
  </div>
  <div class="backdrop" *ngIf="suggestions.length > 0"></div>
  <div class="suggestions" *ngIf="suggestions.length > 0">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)"
          (keyup.enter)="selectSuggestion(suggestion)" tabindex="0">
          <p>{{suggestion}}</p>
        </li>
      </ul>
    </div>
  </div>
  <section>
    <div id="terms-and-conditions">
      <h4><span class="cookie"></span>{{ 'SETTINGS.TERMS_AND_CONDITIONS' | translate }}</h4>
      <div class="setting">
        <p>{{ 'SETTINGS.TERMS_DESCRIPTION' | translate }}</p>
        <br>
        <div class="row row-cols-2 g-2">
          <div class="col">
            <button class="btn btn-primary w-100" (click)="openPolicy()" id="privacy-policy">{{ 'SETTINGS.PRIVACY_POLICY' | translate }}</button>
          </div>
          <div class="col">
            <button class="btn btn-primary w-100" routerLink="/contract" id="contract">{{ 'SETTINGS.CONTRACT' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="language">
      <h4><span class="language"></span>{{ 'SETTINGS.LANGUAGE' | translate }}</h4>
      <div class="setting">
        <p>{{ 'SETTINGS.LANGUAGE_DESCRIPTION' | translate }}</p>
        <br>
        <div class="row row-cols-2 g-2">
          <div class="col" *ngFor="let lang of languageService.getAvailableLanguages()">
            <button class="btn btn-primary w-100"
              (click)="languageService.setLanguage(lang.code)">
              {{ lang.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
   
  </section>
</div>