h2 {
  font-family: var(--font-bold);
  color: var(--background);
  padding: var(--padding-sm);
  animation: fade 1s ease-in;
}

p {
  color: var(--text);
  font-family: var(--font-light);
  margin-bottom: var(--margin-md);
}

.settings {
  margin-top: var(--margin-md);
  padding: var(--padding-md);
  padding-top: 0;
  border-radius: var(--border-radius);
  background: var(--background-gradient);
  box-shadow: var(--shadow);
  animation: slide 0.5s 1s ease-in both;
}

.secondary-listings {
  background: var(--primary-gradient);
}

span.setting {
  background: url('policy.svg') no-repeat center;
  filter: invert(1);
  padding: var(--padding-sm);
  margin-right: var(--margin-sm);
}